//Navigation
.nav-links {
  font-size: 1.2rem;
  padding-bottom: 0;
  font-weight: 600;
  a {
    padding-bottom: 0;
  }
}
.cart {
  position: relative;
  .cart-item-count {
    width: 20px;
    border: 1px solid;
    font-size: 12px;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    background-color: transparent;
    top: 0%;
    left: 20%;
    background: red;
    color: #fff;
    font-weight: 500;
  }
}
.search-suggestion {
  left: 0%;
  top: 100%;
  border-radius: 5px;
  padding: 1em;
  text-align: left;
  background-color: #fff;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.28);
  height: 400px;
  overflow-y: scroll;
}

//

.filters {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0.5em 1.2em;
  position: sticky;
  top: 60px;
  z-index: 9;
  background: #fff;
  .product-sort-btn {
    width: 230px;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 5px;
  }
  .filters-wrapper {
    display: flex;
    align-items: center;
    gap: 1em;
    .filter-control {
      select {
        padding: 0.5em;
      }
    }
  }
}

.empty-cart-display {
  .empty-cart-btn {
    outline: none;
    border: 2px solid;
    padding: 0.5em 1.5em;
    border-radius: 5px;
    background-color: #fff;
    a {
      font-size: 1.2rem;
      font-weight: 500;
      text-decoration: none;
    }
  }
}
