.App {
  text-align: center;
  font-family: "Inter", sans-serif;
  background-color: #f6fff8;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}
